@model CreateIDTViewModel


<div class="container">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <strong>Product Name</strong>
            </div>
            <div class="col-md-4">
                <strong>Price</strong>
            </div>
            <div class="col-md-4">
                <strong>Quantity</strong>
            </div>
        </div>
        @foreach (var product in Model.Products)
        {
            <div class="row">
                <div class="col-md-4">
                    @product.ProductName
                </div>
                <div class="col-md-4">
                    @product.Price
                </div>
                <div class="col-md-4">
                    @product.OHQuantity
                </div>
            </div>
        }
    </div>



</div>

